<div class="login_container">
  <h2 class="login_container_heading">Zaloguj się do platformy</h2>
  <form action="" method="post" class="loginForm">
    <div>
      <label for="email_input" class="input_label">Email</label>
      <input type="text" id="email_input" class="input">
    </div>
    <div>
      <label for="password_input" class="input_label">Password</label>
      <input type="password" id="password_input" class="input">
    </div>
    <input type="submit" class="btn btn--white" value="Zaloguj">
  </form>
</div>