<main class="main_vote">
    <div class="vote_top">
      <div>
        <a href="elections" class="list_link blue"> Wróć do listy wyborów</a>
      </div>
    </div>
    <div class="vote_bottom">
      <div class="vote_table ">
        <h3>Lista kandydatów</h3>
        <form>
          <div *ngIf="candidates.length > 0">
            <table class="vote_table">
              <ng-container  *ngFor="let candidate of candidates">
                <tr>
                  <td>{{candidate.name}}</td>
                  <td>
                    <input type="checkbox" (change)="choose(candidate)" [(ngModel)]="candidate.selected" [ngModelOptions]="{standalone: true}"/>
                  </td>
                </tr>
              </ng-container >
            </table>
          </div>
          <ng-container *ngIf="myCandidate; else grayButton">
            <button (click)="openDialog()" type="submit" class="btn">Zapisz wybór</button>
          </ng-container>
          <ng-template #grayButton><button (click)="openDialog()" type="submit" class="btn btn-gray">Zapisz wybór</button></ng-template>
        </form>
      </div>
      <div class="vote_manual">
        <h3 class="text_center white ">Instrukcja głosowania</h3>
        <ol class="vote_manual_list">
          <li>Znajdź swojego kandydata na liście.</li>
          <li>Zaznacz kwadrat obok swojego kandydata.</li>
          <li>Możesz wybrać tylko 1 kandydata na
            którego oddasz swój głos.</li>
          <li>Po zaznaczeniu swojego wyboru kliknij
            "zapisz wybór". </li>
          <li>Po zatwierdzeniu wyboru nie będzie możliwa
            zmiana wybranego kandydata.</li>
        </ol>
      </div>
    </div>
  
  </main>