<main class="index_main">
    <div class="mainContent">
      <div class="container">
        <div class="home_text_container">
          <h2 class="no_margin">Głosuj bez wychodzenia z domu!</h2>
          <p>Witamy na internetowej platformie wyborczej. To tutaj możesz wziąć
            udział w wyborach prezydenckich bez konieczności wychodzenia z domu.
            Głos oddany tutaj jest równoznaczny z głosem oddanym w okręgowej
            komisji wyborczej w twojej okolicy. Wszystko co musisz zrobić aby oddać
            swój głos to stworzyć konto na platformie i wybrać swojego kandydata.
            Proste prawda?</p>
        </div>
        <div class="register_container ">
          <h2 class="fsMedium no_margin">Nie masz konta? Założysz je tutaj</h2>
          <p>Poprzez kliknięcie poniższego przycisku zostaniesz przeniesiony do
            formularza rejestracyjnego. Wypełnij go aby otrzymać dostęp oraz hasło
            do platformy wyborczej.</p>
          <a href="/register" class="btn">Rejestracja do platformy</a>
        </div>

      </div>
      <app-login></app-login>

    </div>
  </main>