<body class="admin_body">
  <main class="main--admin">

    <section class="wrapTopBar">
      <h1>Wybory</h1>
      <div>
        <button id="addElections" class="wrapTopBar__btn" (click)="electionAdd()">Dodaj wybory</button>
      </div>
    </section>
    
    <section class="wrapContant">
      <form action="">
        <table class="vote_table vote_table--admin">
          <tr>
            <th>Nazwa wyborów</th>
            <th>Początek</th>
            <th>Koniec</th>
            <th>Akcje</th>
          </tr>
          <ng-container *ngFor="let election of elections">
            <tr>
              <td>{{election.name}}</td>
              <td>{{election.startDate | date:'d.M.yy  h:mm'}}</td>
              <td>{{election.endDate | date:'d.M.yy  h:mm'}}</td>
              <td>
                <a class="edit" (click)="electionEdit(election)">edycja</a>
                <a class="edit" (click)="goToCandidates(election.id)">kandydaci</a>
                <a class="edit" (click)="goToElectionResults(election.id)">wyniki</a>
                <a (click)="electionDelete(election)" style="color: red;" class="edit">usuń</a>
              </td>
            </tr>
          </ng-container>
        </table>
      </form>
    </section>
    
  </main>
</body>