<div class="list_container">
    <div class="list_element">
      <p class="list_element_text">Wybory na prezydenta Rzeczpospolitej Polski w roku 2021, tura nr. 2</p>
      <a href="vote.html" class="list_element_text list_element_text_blue list_link">Oddaj głos</a>
    </div>
    <div class="list_element">
        <p class="list_element_text"> Wybory na prezydenta Rzeczpospolitej Polski w roku 2021, tura nr. 1 </p>
        <p class=" list_element_text list_element_text_blue">Już oddano głos</p>
    </div>
  </div>